body {
	margin:0;
	font-family: 'cwTeXYen', sans-serif;
	padding: 0;
	background-color: #f7ba6a;
	padding-bottom: 100px;
}


.topBanner img{
	width: 100%;
	height: auto;
	display: block;
}

.navbar{
	overflow: hidden;
	background-color: #cbf3f0;
	position: fixed;
	top: -15px;
	width: 100%;
	padding: 0px;
	z-index: 5;
	opacity: 85%;
}
.navbar ul,li{
	list-style: none;
}
.navbar a {
	float: left;
	display: block;
	color: #0f4c5c;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
	font-weight: 300;
	margin-left: 20px;
}

.navbar a:hover {
	background: #ffffff;
	color: black;
}

.navbarimg{
	width: 3.75%;
	height: auto;
	float: left;
	margin-top: 15px;
}
.jump1{
	position: absolute;
	top: 368.5px;
}
.jump2{
	position: absolute;
	top: 1135px;
}
.jump3{
	position: absolute;
	top: 1850px;
}
.jump4{
	position: absolute;
	top: -52px;
}
.jump6{
	position: absolute;
	top: -50px;
}
.toTop{
	width: 100px;
	height: auto;
	position: fixed;
	top: 630px;
	right: 30px;
	z-index: 10;
	opacity: 0.5;
	transition: 0.3s;
}
.toTop:hover{
	opacity: 1;
}
.jumpTop{
	position: absolute;
	top: 0px;
}
.sideBox{
	width: 60px;
	height: 200px;
	position: fixed;
	top: 200px;
	right: 0px;
	opacity: 0.3;
	background-color: #114b5f;
	z-index: 10;
	border-radius: 15px;
	transition: 0.3s;
}
.sideBox:hover{
	opacity: 1;
	background-color: #cbf3f0;
	opacity: 0.8;
}
.fb{
	width: 40px;
	height: auto;
	position: absolute;
	top: 20%;
	left: 20%;

}
.ig{
	width: 40px;
	height: auto;
	position: absolute;
	top: 60%;
	left: 20%;
}
/* The first Part
*/
.bg1{
	width: 100%;
	height: auto;
	top: -1px;
	padding: 0px;
	margin: 0px;
	display: block;
	z-index: 2;
	position: relative;
	
}


.parallax{
	background-image: url("../picture/selfie.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 450px;
	background-position: 200px 10px;
}
.bg1NameTitle{
	position: absolute;
	top: 500px;
	left: 750px;
	z-index: 3;
	font-weight: 800;
	font-size: 60px;
	letter-spacing: 45px;
	color: #114b5f;
}
.bg1EGnameTitle{
	position: absolute;
	word-wrap: break-word;
	word-break:break-all;
	top: 630px;
	left: 755px;
	z-index: 3;
	font-weight: 800;
	font-size: 60px;
	width: 15px;
    margin: 0 auto;
    line-height: 80px;
    letter-spacing: 45px;
    color: #006d77;
}
.bg1Hr{
	position: absolute;
	z-index: 3;
	top: 575px;
	left: 1030px;
	width: 22%;
	border: 2px solid #bc3908;
	border-radius: 2px;
}
.bg1Birth{
	position: absolute;
	word-wrap: break-word;
	word-break:break-all;
	top: 630px;
	left: 860px;
	z-index: 3;
	font-weight: 600;
	font-size: 60px;
	width: 15px;
    margin: 0 auto;
    line-height: 80px;
    letter-spacing: 45px;
    color: #006d77;
}
.bg1Class{
	position: absolute;
	word-wrap: break-word;
	word-break:break-all;
	top: 630px;
	left: 950px;
	z-index: 3;
	font-weight: 400;
	font-size: 60px;
	width: 15px;
    margin: 0 auto;
    line-height: 80px;
    letter-spacing: 45px;
    color: #006d77;
}
.bg1Link{
	position: absolute;
	z-index: 3;
	top: 750px;
	left: 1150px;
	width: 100px;
	height: auto;
}
.bg1Line{
	position: absolute;
	z-index: 3;
	top: 847px;
	left: 1198px;
	width: 5px;
	height: 400px;
}
.bg1Book{
	position: absolute;
	z-index: 3;
	top: 770px;
	left: 1175px;
	width: 50px;
	height: auto;
}

/* The second Part
*/
.bp2Hr{
	position: absolute;
	z-index: 3;
	top: 1300px;
	left: 240px;
	width: 22.5%;
	border: 2px solid #bc3908;
	border-radius: 2px;
}
.bg2{
	width: 100%;
	height: auto;
	top: -1px;
	padding: 0px;
	margin: 0px;
	display: block;
	z-index: 2;
	position: relative;
	
}
.bp2Title{
	position: absolute;
	top: 1190px;
	left: 240px;
	z-index: 3;
	font-weight: 800;
	font-size: 60px;
	letter-spacing: 40px;
	color: #114b5f;
}
.school1{
	position: absolute;
	z-index: 3;
	top: 1247px;
	left: 1130px;
	width: 150px;
	height: auto;
}
.school2{
	position: absolute;
	z-index: 3;
	top: 1400px;
	left: 755px;
	width: 150px;
	height: auto;
}
.school3{
	position: absolute;
	z-index: 3;
	top: 1565px;
	left: 1130px;
	width: 150px;
	height: auto;
}
.school4{
	position: absolute;
	z-index: 3;
	top: 1730px;
	left: 755px;
	width: 150px;
	height: auto;
}
.sP1{
	position: absolute;
	top: 1247px;
	left: 700px;
	z-index: 3;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 20px;
	color: #006d77;
}
.sP2{
	position: absolute;
	top: 1400px;
	left: 950px;
	z-index: 3;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 20px;
	color: #006d77;

}
.sP3{
	position: absolute;
	top: 1565px;
	left: 700px;
	z-index: 3;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 20px;
	color: #006d77;
}
.sP4{
	position: absolute;
	top: 1730px;
	left: 950px;
	z-index: 3;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 20px;
	color: #006d77;
}
.bg2Link{
	position: absolute;
	z-index: 3;
	top: 1400px;
	left: 360px;
	width: 100px;
	height: auto;
}
.bg2Line{
	position: absolute;
	z-index: 3;
	top: 1497px;
	left: 408px;
	width: 5px;
	height: 500px;
}
.bg2Cook{
	position: absolute;
	z-index: 3;
	top: 1415px;
	left: 380px;
	width: 60px;
	height: auto;
}
/* The third Part
*/
.bp3Hr{
	position: absolute;
	z-index: 3;
	top: 1987px;
	left: 240px;
	width: 30%;
	border: 2px solid #bc3908;
	border-radius: 2px;
}
.bp3Act1{
	width: 500px;
	height: auto;
	position: absolute;
	top: 2020px;
	left: 50px;
	z-index: 3;
}
.artical1{
	border-color: #bc3908;
	border-radius: 1px;
	border-style: dashed;
	position: absolute;
	top: 2100px;
	left: 180px;
	z-index: 2;
	width: 900px;
	height: 300px;
	background-color: #e6ebe0;
}
.bp3Act2{
	width: 500px;
	height: auto;
	position: absolute;
	top: 2450px;
	left: 50px;
	z-index: 3;
}
.artical2{
	border-color: #bc3908;
	border-radius: 1px;
	border-style: dashed;
	position: absolute;
	top: 2530px;
	left: 180px;
	width: 900px;
	height: 300px;
	z-index: 2;
	background-color: #e6ebe0;
}
.bp3Act3{
	width: 500px;
	height: auto;
	position: absolute;
	top: 2880px;
	left: 50px;
	z-index: 3;
}
.artical3{
	border-color: #bc3908;
	border-radius: 1px;
	border-style: dashed;
	position: absolute;
	top: 2960px;
	left: 180px;
	width: 900px;
	height: 300px;
	z-index: 2;
	background-color: #e6ebe0;
}
.bp3Act4{
	width: 500px;
	height: auto;
	position: absolute;
	top: 3310px;
	left: 50px;
	z-index: 3;
}
.artical4{
	border-color: #bc3908;
	border-radius: 1px;
	border-style: dashed;
	position: absolute;
	top: 3390px;
	left: 180px;
	width: 900px;
	height: 300px;
	z-index: 2;
	background-color: #e6ebe0;
}
.text{
	font-size: 35px;
	font-weight: 300;
	text-align: left;
	margin-left: 390px;
	margin-right: 20px;
	letter-spacing: 5px;
	color: #114b5f;
}
.text1{
	font-size: 30px;
	font-weight: 300;
	text-align: left;
	margin-left: 390px;
	margin-right: 20px;
	letter-spacing: 5px;
	color: #114b5f;
}
.clubTitle{
	border-color: #bc3908;
	border-radius: 1px;
	border-style: double;
	position: absolute;
	top: 1950px;
	left: 700px;
	z-index: 2;
	width: 600px;
	height: 100px;
}
.clubName{
	z-index: 3;
	font-weight: 600;
	font-size: 50px;
	letter-spacing: 50px;
	color: #114b5f;
	text-align: center;
	margin-top: 10px;
	margin-left: -50px;
}
.clubJob{
	z-index: 3;
	font-weight: 400;
	font-size: 25px;
	letter-spacing: 15px;
	color: #006d77;
	text-align: right;
	top: 40px;
	left: 230px;
	position: absolute;
}
.bg3Link{
	position: absolute;
	z-index: 3;
	top: 2425px;
	left: 1150px;
	width: 100px;
	height: auto;
}
.bg3Line{
	position: absolute;
	z-index: 3;
	top: 2520px;
	left: 1198px;
	width: 5px;
	height: 1400px;
}
.bg3Camera{
	position: absolute;
	z-index: 3;
	top: 2455px;
	left: 1170px;
	width: 60px;
	height: auto;
}
/* Body Part 4 */
.bp4{
	position: absolute;
	top: 3820px;
	width: 100%;
	height: 700px;
	z-index: 2;
	background-color: #f8c498;
}
.bp4Hr{
	position: absolute;
	z-index: 3;
	top: 88px;
	right: 0%;
	width: 45.8%;
	border: 2px solid #bc3908;
}
.bp4Flower{
	position: absolute;
	z-index: 3;
	width: 300px;
	height: auto;
	top: 20%;
	left: 70%;
	z-index: 5;
}
.bp4Butter{
	position: absolute;
	z-index: 3;
	width: 550px;
	height: auto;
	top: 20%;
	left: 33%;
	z-index: 3;
}
.bp4Machi{
	width: 20%;
	height: auto;
	top: 20%;
	left: 12.2%;
	position: absolute;
	z-index: 3;
}
.bp4Bird{
	position: absolute;
	top: 65%;
	left: 25%;
	width: 31.5%;
	height: auto;
	z-index: 5;
}
.deco1{
	position: absolute;
	top: 400px;
	left: 0px;
	width: 600px;
	height: 85px;
	z-index: 2;
	background-color: #723d46;
}
.deco2{
	position: absolute;
	top: 530px;
	right: 0px;
	width: 920px;
	height: 100px;
	z-index: 4;
	background-color: #472d30;
}
.deco3{
	position: absolute;
	top: 100px;
	right: 0px;
	width: 700px;
	height: 70px;
	z-index: 2;
	background-color: #723d46;
}
.habbit{
	position: absolute;
	top: 280px;
	left: 600px;
	font-size: 25px;
	letter-spacing: 10px;
	color: #114b5f;
	font-weight: 100;
}
.ambi{
	position: absolute;
	top: 330px;
	left: 600px;
	font-size: 25px;
	letter-spacing: 10px;
	color: #114b5f;
	font-weight: 100;
}
.bg4Link{
	position: absolute;
	z-index: 3;
	top: 300px;
	left: 915px;
	width: 100px;
	height: auto;
}
.bg4Future{
	position: absolute;
	z-index: 3;
	top: 320px;
	left: 945px;
	width: 40px;
	height: auto;
}
.bg4Line{
	position: absolute;
	z-index: 3;
	top: 4217px;
	left: 963px;
	width: 5px;
	height: 400px;
}
/* Body Part 5 */
.bp5{
	position: absolute;
	top: 4520px;
	width: 100%;
	height: 700px;
	z-index: 2;
	background-color: #f7ba6a;
}
.bg5Linkend{
	position: absolute;
	z-index: 3;
	top: 70px;
	left: 950px;
	width: 30px;
	height: auto;
}
.future{
	position: absolute;
	word-wrap: break-word;
	word-break:break-all;
	top: 50px;
	left: 50px;
	z-index: 3;
	font-weight: 800;
	font-size: 60px;
	width: 15px;
    margin: 0 auto;
    line-height: 80px;
    letter-spacing: 45px;
    color: #114b5f;
    text-shadow: 30px 40px #006d77;
}
.bp5Hr{
	position: absolute;
	z-index: 2;
	top: 220px;
	left: 0%;
	width: 30%;
	border: 3px solid #bc3908;
}
.bp5selfie{
	position: absolute;
	width: 100%;
	height: auto;
}
.futureText1{
	position: absolute;
	top: 300px;
	left: 150px;
	z-index: 3;
	font-weight: 400;
	font-size: 25px;
	width: 10px;
    color: #caf0f8;
    writing-mode: vertical-lr;
}
.bp5Hr2{
	height: 380px;
	width: 1px;
	color: #caf0f8;
	position: absolute;
	top: 300px;
	left: 270px;
	border: 2px solid #caf0f8;
}
.futureText2{
	position: absolute;
	top: 300px;
	left: 320px;
	z-index: 3;
	font-weight: 400;
	font-size: 25px;
	width: 10px;
    color: #caf0f8;
    writing-mode: vertical-lr;
}
.textTitle1{
	position: absolute;
	top: 210px;
	left: 180px;
	font-weight: 600;
	font-size: 40px;
	color: #caf0f8;
	z-index: 3;
}
.textTitle2{
	position: absolute;
	top: 210px;
	left: 340px;
	font-weight: 600;
	font-size: 40px;
	color: #caf0f8;
	z-index: 3;
}
/* Body Part 6 */
.bp6{
	position: absolute;
	top: 5236px;
	width: 100%;
	height: 697.5px;
	z-index: 2;
	background-color: #f7ba6a;
}
.bp6up{
	width: 383px;
	top: 70px;
	height: auto;
	position: absolute;
}
.bp6grass{
	width: 431px;
	height: auto;
	left: 300px;
	top: 70px;
	position: absolute;
}
.bp6sky{
	height: 250px;
	width: auto;
	left: 853px;
	position: absolute;
	top: 70px;
}
.bp6cir{
	height: 250px;
	width: auto;
	top: 70px;
	right: 0px;
	position: absolute;
}
.bp6wedding{
	top: 320px;
	right: 0px;
	position: absolute;
	width: 666px;
	height: auto;
}
.Life{
	top: 160px;
	left: 765px;
	position: absolute;
	word-wrap: break-word;
	word-break:break-all;
	z-index: 3;
	font-weight: 800;
	font-size: 60px;
	width: 15px;
    margin: 0 auto;
    line-height: 80px;
    letter-spacing: 45px;
    color: #114b5f;
}
.bp6deco1{
	position: absolute;
	z-index: 2;
	top: 56px;
	left: 0%;
	width: 725px;
	border: 3px solid #bc3908;
}
.bp6deco2{
	position: absolute;
	z-index: 2;
	top: 635px;
	right: 0%;
	width: 660px;
	border: 3px solid #bc3908;
}
footer{
	height: 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
    text-align: center;
    color: #bc3908;
    background-color: #f8c498;
    font-size: 20px;
}